# C extensions and stuff
*.so
*.pyc
*.pyo
*.pyd
*~

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.python-version
*.ipynb
*.swp

.git/

.tox
.coverage
.pytest_cache
*/__pycache__
.vscode
.DS_Store
.dockerignore
.gitignore
.pre-commit-config.yaml

celerybeat.pid
*/infra
